.buttonsDiv {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  width: 30vw;
  height: 50vh;
  font-size: 48px;
}

.orangeButton {
  background-color: orange;
}

.purpleButton {
  background-color: purple;
  color: white;
}