* {
  font-family: monospace;
}

input[type=text],input[type=number], .checkDiv {
  width: 98%;
  height: 8px;
  padding: 12px;
}

select {
  width: 98%;
  padding: 0, 12px, 0, 12px;
  height: 36px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
  width: 98%;
  height: 48px;
  padding: 12px;
}